@charset "UTF-8";
@import "_mixin";
@import "compass/css3";
@import "compass/css3/flexbox";
@import "compass/css3/user-interface";
@import "compass/css3/transform";

/*common s*/
.split{
	display: flex;
	> *{
		flex: 1;
		margin-right: 20px;
		&:last-child{
            margin-right: 0;
        }
	}
	&.m-break{
		@include respond-to(mx767) {
			display: block;	
			>*{
				width:100%;
				margin-right: 0;
				margin-bottom:20px;
				&:last-child{
		            margin-right: 0;
		        }	
			}
		}
	}
}
.min-wrap{
	width:100%;
	max-width: $min-wrap-width;
	margin: 0 auto;
    @include respond-to(mx1024) {
		//padding:0 10px;
		padding:0 15px;
    }	
}
/*common e*/


/*master s*/
body{
	header{
		h1{
			padding: 60px 0;
			position: relative;
			background: $master-color;
			color: #fff;
			font-size:32px;
			text-align: center;
			text-shadow: 1px 1px 1px #284a47;
			text-indent: 1px;
			letter-spacing: 1px;
			@include respond-to(mx767) {
				padding: 15px 0 40px;
			}
			span{
				@include respond-to(mx767) {
					display: block;
					padding: 0 0 7px;
				}
				
			}
			&:before,&:after{
				content: ""; 
			    height: 0;
			    position: absolute;
			    bottom: 0;
			    width: 0;
			    z-index: 1;
			    border-top: 45px solid transparent;
			}
			&:before{
				left:0;
    			border-left: 50vw solid #fff;
			}
			&:after{
				right: 0;
    			border-right: 50vw solid #fff;
			}
		}
		
	}
	footer{
		padding:20px 5px;
		background: $master-color;
		color: #fff;
		text-align: center;	
		line-height: 150%;
		span{
			vertical-align: text-top;
		}
		a{
			padding-bottom: 1px;
    		border-bottom: 1px solid;
		}
		.icon-mail{
			font-size: 18px;
		}
	}
	section{
		@include respond-to(min768) {
        	@include calc(padding-top, "( ( 100vh - 696px ) / 2 )");
        	@include calc(padding-bottom, "( ( 100vh - 696px ) / 2 )");
		}
	}
	h2{
		padding:50px 0;
		font-size:20px;
		text-align: center;
		@include respond-to(mx767) {
			padding: 40px 0 10px;
			font-size:18px;
		}
		.highlight{
			padding: 0 0 20px;
			color: $master-color;
		    font-size: 30px;
		    font-weight: bolder;
		    letter-spacing: 3px;
		    text-indent: 3px;
		}
		.text{
			line-height: 180%;
			span{
				@include respond-to(mx767) {
					display: block;
				}
			}
		}
	}
	.fieldset-border {
	    padding: 0 14px 14px;
	    margin-top: 25px;
	    margin-bottom: 25px;
	    border: 1px solid  $master-color;
	    border-radius: 4px;
	    background: #fff;
	    text-align: left;
	    line-height: 180%;
	    legend {
		    margin-bottom: 5px;
		    span{
		    	padding: 0 5px 0 0;
		    	font-size: 24px;
		    	vertical-align: text-bottom;
		    }
		}
		.title{
			color: $master-color;
    		font-size: 18px;
    		text-align: center;
		}
	}
}
